html,
body {
    font-family: 'Open Sans';
    overflow: auto;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.8));
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.buttonimg {
    border: 0;
    padding-left: 0;
    margin-right: 0.5em;
}

.pfp {
    transition: transform 0.1s ease;
    border: 2px solid var(--bulma-text);
}

.card {
    transition: transform 0.1s ease;
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.card:hover {
    z-index: 1;
}

#panorama {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: -1;
}